@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto&subset=cyrillic');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: rgba(231, 228, 222, 0.48);
    color: #555555;
}

.wrapper {
    width: 1920px;
    margin: 0 auto;
}

.main {
    height: 1024px;
    width: 100%;
    background: url("img/main.png");
    position: relative;
}

.main .header {
    padding: 41px 377px 0;
    height: 56px;
}

.main .header .logo {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    width: 185px;
    height: 56px;
    background: url("img/logo.png") no-repeat;
    padding-top: 7px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}

.main .header nav {
    float: left;
    margin: 16px 0 0 190px;
}

.main .header nav li {
    list-style-type: none;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 25px;
    transition: 0.3s;
}

.main .header nav li:hover {
    color: #c7b29a;
    cursor: pointer;
    transition: 0.3s;
}

.main .header .shop {
    float: left;
    margin: 15px 0 0 48px;
}

.main .header .shop i {
    margin-left: 20px;
    color: #e3e3e3;
    font-size: 18px;
    transition: 0.3s;
}

.main .header .shop i:hover {
    cursor: pointer;
    color: #c7b29a;
    transition: 0.3s;
}

.main .portfolio {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    width: 590px;
    margin: 276px auto 0;
}

.main .portfolio h2 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.main .portfolio h3 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin-top: 4px;

}

.main .portfolio p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 13px;
}

.main .portfolio button {
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 53px;
    border: none;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    box-shadow: 0 3px 0 #68594e;
    margin: 49px 211px;
    outline: none;
    /*transition: 0.3s;*/
}

.main .portfolio button:hover {
    background-color: #8b7867;
    cursor: pointer;
}

.main .portfolio button:active {
    box-shadow: inset 0 2px 2px 2px #68594e;
    padding-top: 2px;
    height: 56px;
    margin-bottom: 46px;
}

.main .arrow-left {
    position: absolute;
    top: 459px;
    left: 149px;
    font-size: 100px;
    color: #d6d6d6;
    transition: 0.3s;
}

.main .arrow-right {
    position: absolute;
    top: 459px;
    right: 149px;
    font-size: 100px;
    color: #d6d6d6;
    transition: 0.3s;
}

.main .arrow-left:hover {
    color: #d3c1ad;
    cursor: pointer;
    transform: scale(1.2);
}

.main .arrow-right:hover {
    color: #d3c1ad;
    cursor: pointer;
    transform: scale(1.2);
}

.main .points {
    width: 111px;
    margin: 280px auto 0;
}

.main .points .point {
    background-color: #b8b8b8;
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0);
}

.main .points .point:hover {
    cursor: pointer;
    border: 2px solid #c0ae9a;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
}

.allDepartments {
    height: 296px;
    padding: 78px 350px 0;
}

.allDepartments .department {
    width: 267px;
    height: 204px;
    float: left;
    color: #555555;
    margin-left: 32px;
    transition: 0.25s;
}

.allDepartments .department i {
    font-size: 50px;
    text-align: center;
    margin: 0 0 25px 108px;
}

.allDepartments .department h2 {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.allDepartments .department p {
    font-family: "Montserrat", sans-serif;
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
}

.allDepartments .department p:after {
    content: " ";
    display: block;
    width: 80px;
    border-top: 3px solid #c4c1bb;
    margin: 30px auto 0;
    transition: 0.25s;
}

.allDepartments .department:hover {
    color: rgb(199, 178, 153);
    cursor: pointer;
}

.allDepartments .department:hover p:after {
    border-color: rgb(199, 178, 153);
    width: 120px;
}

.ideas {
    background: rgba(231, 228, 222, 0.48);
    height: 699px;
    padding-top: 77px;
    position: relative;
    box-sizing: border-box;
}

.ideas h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.ideas p {
    font-family: "Montserrat", sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    width: 783px;
    margin: 16px auto;
}

.ideas .slide_center {
    background: url("img/slide_center.png");
    width: 770px;
    height: 482px;
    position: absolute;
    top: 217px;
    left: 576px;
    z-index: 2;
    transition: 0.5s;
}

.ideas .slide_right {
    background: url("img/slide_right.png");
    width: 770px;
    height: 400px;
    position: absolute;
    top: 299px;
    left: 805px;
    z-index: 0;
    transition: 0.8s;
}

.ideas .slide_left {
    background: url("img/slide_left.png");
    width: 770px;
    height: 400px;
    position: absolute;
    top: 299px;
    left: 346px;
    z-index: 1;
    transition: 0.8s;
}

.ideas .slide_center:hover {
    transform: scale(1.02) translateY(-4px);
    cursor: pointer;
}

.ideas .slide_right:hover {
    cursor: pointer;
    transform: scale(1.12) translate(220px, -22px);
}

.ideas .slide_left:hover {
    cursor: pointer;
    transform: scale(1.12) translate(-220px, -21px);
}

.wordpress {
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 150px;
}

.wordpress h2 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}

.wordpress h2 span {
    color: #c7b299;
}

.wordpress p {
    font-family: "Montserrat", sans-serif;
    color: #716865;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    float: left;
}

.wordpress button {
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    border: none;
    outline: none;
    float: right;
}