@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto&subset=cyrillic');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: rgba(231, 228, 222, 0.48);
    color: #555555;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/*-----------------------main--------------------------*/

.main {
    height: 1024px;
    width: 100%;
    background: url("img/main.png");
    position: relative;
    background-size: cover;
}

.main .header {
    padding-top: 41px;
    height: 56px;
    margin: 0 auto;
    max-width: 1167px
}

.main .header .logo {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    width: 185px;
    height: 56px;
    background: url("img/logo.png") no-repeat;
    padding-top: 7px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}

.main .header nav {
    float: left;
    margin: 16px 0 0 190px;
}

.main .header nav li {
    list-style-type: none;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 25px;
    transition: 0.3s;
}

.main .header nav li:hover {
    color: #c7b29a;
    cursor: pointer;
    transition: 0.3s;
}

.main .header .shop {
    float: left;
    margin: 15px 0 0 48px;
}

.main .header .shop i {
    margin-left: 20px;
    color: #e3e3e3;
    font-size: 18px;
    transition: 0.3s;
}

.main .header .shop i:hover {
    cursor: pointer;
    color: #c7b29a;
    transition: 0.3s;
}

.main .portfolio {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    width: 590px;
    margin: 276px auto 0;
}

.main .portfolio h2 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.main .portfolio h3 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin-top: 4px;

}

.main .portfolio p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 13px;
}

.main .portfolio button {
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 53px;
    border: none;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    box-shadow: 0 3px 0 #68594e;
    margin: 49px 211px;
    outline: none;
}

.main .portfolio button:hover {
    background-color: #8b7867;
    cursor: pointer;
}

.main .portfolio button:active {
    box-shadow: inset 0 2px 2px 2px #68594e;
    padding-top: 2px;
    height: 56px;
    margin-bottom: 46px;
}

.main .arrow-left {
    position: absolute;
    top: 459px;
    left: 149px;
    font-size: 100px;
    color: #d6d6d6;
    transition: 0.3s;
}

.main .arrow-right {
    position: absolute;
    top: 459px;
    right: 149px;
    font-size: 100px;
    color: #d6d6d6;
    transition: 0.3s;
}

.main .arrow-left:hover {
    color: #d3c1ad;
    cursor: pointer;
    transform: scale(1.2);
}

.main .arrow-right:hover {
    color: #d3c1ad;
    cursor: pointer;
    transform: scale(1.2);
}

.main .points {
    width: 111px;
    margin: 280px auto 0;
}

.main .points .point {
    background-color: #b8b8b8;
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0);
}

.main .points .point:hover {
    cursor: pointer;
    border: 2px solid #c0ae9a;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
}

/*-----------------------allDepartments----------------------------*/

.allDepartments {
    height: 296px;
    padding-top: 78px;
    margin: 0 auto;
    max-width: 1218px;
}

.allDepartments .department {
    width: 267px;
    height: 204px;
    float: left;
    color: #555555;
    margin-left: 32px;
    transition: 0.25s;
}

.allDepartments .department i {
    font-size: 50px;
    text-align: center;
    margin: 0 0 25px 108px;
}

.allDepartments .department h2 {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.allDepartments .department p {
    font-family: "Montserrat", sans-serif;
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
}

.allDepartments .department p:after {
    content: " ";
    display: block;
    width: 80px;
    border-top: 3px solid #c4c1bb;
    margin: 30px auto 0;
    transition: 0.25s;
}

.allDepartments .department:hover {
    color: rgb(199, 178, 153);
    cursor: pointer;
}

.allDepartments .department:hover p:after {
    border-color: rgb(199, 178, 153);
    width: 120px;
}

/*-------------------------ideas------------------------------*/

.ideas {
    background: rgba(231, 228, 222, 0.48);
    height: 699px;
}

.ideas .wrapperIdeas {
    padding-top: 77px;
    position: relative;
    box-sizing: border-box;
    width: 1228px;
    margin: 0 auto;
    height: 100%;
}

.ideas .wrapperIdeas h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.ideas .wrapperIdeas p {
    font-family: "Montserrat", sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    width: 783px;
    margin: 16px auto;
}

.ideas .wrapperIdeas .slide_center {
    background: url("img/slide_center.png");
    width: 770px;
    height: 482px;
    position: absolute;
    top: 217px;
    left: 230px;
    z-index: 2;
    transition: 0.5s;
}

.ideas .wrapperIdeas .slide_right {
    background: url("img/slide_right.png");
    width: 770px;
    height: 400px;
    position: absolute;
    top: 299px;
    left: 460px;
    z-index: 0;
    transition: 0.8s;
}

.ideas .wrapperIdeas .slide_left {
    background: url("img/slide_left.png");
    width: 770px;
    height: 400px;
    position: absolute;
    top: 299px;
    left: 0;
    z-index: 1;
    transition: 0.8s;
}

.ideas .wrapperIdeas .slide_center:hover {
    transform: scale(1.02) translateY(-4px);
    cursor: pointer;
}

.ideas .wrapperIdeas .slide_right:hover {
    cursor: pointer;
    transform: scale(1.12) translate(220px, -22px);
}

.ideas .wrapperIdeas .slide_left:hover {
    cursor: pointer;
    transform: scale(1.12) translate(-220px, -21px);
}

/*-------------------------wordpress----------------------------*/

.wordpress {
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 150px;
}

.wordpress .wrapperWordpress {
    box-sizing: border-box;
    padding: 44px;
    width: 1257px;
    margin: 0 auto;
}

.wordpress .wrapperWordpress .wordpressLeft {
    float: left;
}

.wordpress .wrapperWordpress h2 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}

.wordpress .wrapperWordpress h2 span {
    color: #c7b299;
}

.wordpress .wrapperWordpress p {
    font-family: "Montserrat", sans-serif;
    color: #716865;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    float: left;
}

.wordpress .wrapperWordpress button {
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    border: none;
    outline: none;
    float: right;
    margin-top: 6px;
    box-shadow: 0 3px 0 #68594e;
}

.wordpress .wrapperWordpress button:hover {
    background-color: #8b7867;
    cursor: pointer;
}

.wordpress .wrapperWordpress button:active {
    box-shadow: inset 0 2px 2px 2px #68594e;
    padding-top: 2px;
    height: 53px;
    margin-bottom: 46px;
}
/*------------------------projects----------------------------*/
.projects {
    height: 1089px;
    width: 1170px;
    margin: 0 auto;
}

.projects > h2 {
    font-family: "Raleway", sans-serif;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 73px;
}

.projects p {
    font-family: "Montserrat", sans-serif;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    width: 770px;
    margin: 18px auto;
}

.projects ul {
    width: 694px;
    margin: 40px auto 32px;

}

.projects ul li {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #d9d3d3;
    box-sizing: border-box;
    background-color:  rgba(17, 17, 17, 0);
    padding: 7px 22px;
    margin-right: 10px;
    text-align: center;
    transition: 0.5s;
}

.projects ul li:last-child {
    margin-right: 0;
}

.projects ul li:hover {
    background-color: #998675;
    cursor: pointer;
    color: #ffffff;
}

.projects ul li:active {
    box-shadow: 0 0 7px 0 #8c8c8c;
    transition: 0s;
}

.projects article {
    background-color: #eeebe7;
    float: left;
    margin: 0 30px 29px 0;
    height: 337px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}

.projects article:nth-of-type(3),
.projects article:nth-of-type(6) {
    margin-right: 0;
}

.projects article .description {
    height: 70.5%;
    width: 100%;
    background: #000;
    opacity: 0.6;
    transition: 0.7s;
    position: absolute;
    top: -70.5%;
    text-align: center;
}

.projects article .description i {
    margin: 93px 20px 0;
    font-size: 25px;
    color: #d7d3d3;
}

.projects article .description i:hover {
    color: rgb(203, 159, 107);
}

.projects article:hover .description {
    top: 0;
}

.projects article h2 {
    font-family: "Raleway", sans-serif;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin: 22px 0 0 30px;
}

.projects article h3 {
    font-family: "Montserrat", sans-serif;
    color: #878282;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    margin: 3px 0 0 30px;
}

.projects article:hover {
    background-color: #655b59;
    cursor: pointer;
}

.projects button {
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: 0 3px 0 #68594e;
    margin: 10px auto 0;
    display: block;
}

.projects  button:hover {
    background-color: #8b7867;
    cursor: pointer;
}

.projects  button:active {
    box-shadow: inset 0 2px 2px 2px #68594e;
    padding-top: 2px;
    height: 54px;
    margin-bottom: 46px;
}

.clearFix {
    clear: both;
}

/*--------------------------movie---------------------------------*/

.movie {
    width: 100%;
    height: 705px;
    overflow: hidden;
    padding-top: 150px;
    box-sizing: border-box;
}

.movie .video {
    width: 100%;
    margin-top: -577px;
    z-index: -1;
    position: relative;
}

.movie .play {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: url("img/play.png") 15px 15px no-repeat, rgba(0, 0, 0, 0.2);
    margin: 60px auto 0;
    transition: 0.2s;
}

.movie h2 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 38px;
}

.movie p {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    width: 590px;
    margin: 20px auto;
}

.movie span {
    font-family: "Montserrat", sans-serif;
    color: #796556;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: block;
}

.movie .play:hover {
    background: url("img/play.png") 15px 15px no-repeat, rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/*-----------------------------mobile----------------------------*/

.mobile {
    width: 1150px;
    height: 695px;
    margin: 0 auto;
    box-sizing: border-box;
    background: url(img/iPhone.png) no-repeat 39px 80px;
    padding: 189px 0 0 492px;
}

.mobile h2 {
    font-family: "Raleway", sans-serif;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 27px;
}

.mobile p {
    font-family: "Montserrat", sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

.mobile ul {
    font-family: "Montserrat", sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    margin: 31px 0 0 78px;
    list-style-type: none;
}

.mobile ul li::before {
    content: url("img/arrowLi.png");
    top: 6px;
    left: -28px;
    position: relative;
}

/*-----------------------status-------------------------*/

.status {
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 300px;
}

.status .wrapperStatus {
    width: 923px;
    margin: 0 auto;
    padding-top: 69px;
}

.status .wrapperStatus div {
    display: inline-block;
    margin-right: 61px;
    width: 132px;
}
.status .wrapperStatus div:last-child {
    margin-right: 0;
}

.status .wrapperStatus div img {
    display: block;
    margin: 0 auto;
}

.status .wrapperStatus div h2 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
    text-align: center;
    margin-top: 30px;
}

.status .wrapperStatus div p {
    font-family: "Montserrat", sans-serif;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
}

.status .wrapperStatus div p:after {
    content: " ";
    display: block;
    width: 50px;
    border-top: 2px solid #c4c1bb;
    margin: 30px auto 0;
    transition: 0.25s;
}

/*-------------------------posts-------------------------------*/

.posts {
     height: 679px;
}

.posts .wrapperPosts {
    width: 1170px;
    margin: 0 auto;
}

.posts .wrapperPosts > h2 {
    font-family: "Raleway", sans-serif;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 74px;
}

.posts .wrapperPosts > p {
    font-family: "Montserrat", sans-serif;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    width: 756px;
    margin: 17px auto;
}

.posts .wrapperPosts .post {
    width: 370px;
    height: 395px;
    background: #eeebe7;
    float: left;
    margin-right: 30px;
    margin-top: 19px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}

.posts .wrapperPosts .post:nth-of-type(3){
    margin-right: 0;
}

.posts .wrapperPosts .post .date {
    position: absolute;
    top: 18px;
    left: 21px;
    background-color: #363636;
    width: 50px;
    color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}

.posts .wrapperPosts .post .date .topDate {
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.posts .wrapperPosts .post .date .bottomDate {
    background-color: #252525;
    height: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
    transition: background-color 0.3s;
}

.posts .wrapperPosts .post .description {
    height: 55.5%;
    width: 100%;
    background: #000;
    opacity: 0.6;
    transition: 0.7s;
    position: absolute;
    top: -55.5%;
    text-align: center;
}

.posts .wrapperPosts .post:hover .description {
    top: 0;
}

.posts .wrapperPosts .post h2 {
    font-family: "Raleway", sans-serif;
    color: #555555;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: 29px;
    margin-top: 21px;
}

.posts .wrapperPosts .post p {
    font-family: "Montserrat", sans-serif;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-left: 29px;
    margin-top: 13px;
    margin-bottom: 20px;
}

.posts .wrapperPosts .post a {
    margin-left: 29px;
    font-family: "Montserrat", sans-serif;
    color:  #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
}

.posts .wrapperPosts .post a:after {
    content: url("img/arrowPost.png");
    left: 10px;
    top: -1px;
    position: relative;
    transition: 0.3s;
}

.posts .wrapperPosts .post a:hover:after {
    left: 14px;
}

.posts .wrapperPosts .post:hover {
    background-color: #362f2d;
    cursor: pointer;
}

.posts .wrapperPosts .post:hover h2 {
    color: #c7b299;
}

.posts .wrapperPosts .post:hover p {
    color: #ffffff;
}

.posts .wrapperPosts .post:hover .date .topDate {
    background-color:  #c7b299;
}

.posts .wrapperPosts .post:hover .date .bottomDate {
    background-color:  #a48d72;
}

.posts .wrapperPosts .arrowPosts {
    width: 72px;
    margin: 38px auto 0;
    border-bottom: 2px solid #e0d7ca;
    padding-left: 5px;
    padding-bottom: 3px;
    border-radius: 23px;
}

.posts .wrapperPosts .arrowPosts i {
    color: #c7b299;
    font-size: 30px;
    transition: 0.3s;
    width: 23px;
    padding-left: 5px;
    box-sizing: border-box;
}

.posts .wrapperPosts .arrowPosts i:first-child {
    margin-right: 20px;
}

.posts .wrapperPosts .arrowPosts i:hover {
    transform: scale(1.2) translateX(3px);
    cursor: pointer;
}

.posts .wrapperPosts .arrowPosts i:first-child:hover {
    transform: scale(1.2) translateX(-3px);
}

/*-----------------------partner-----------------------*/

.partner {
    background: url("img/partner.png");
    background-size: cover;
    height: 489px;
}

.partner .wrapperPartner {
    width: 1214px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 141px 53px 0;
    height: 100%;
}

.partner .wrapperPartner img{
    margin-right: 89px;
    float: left;
}

.partner .wrapperPartner img:last-child{
    margin-right: 0;
}

.partner .wrapperPartner img:nth-child(1) {
   margin-top: 40px;
}

.partner .wrapperPartner img:nth-child(3) {
    margin-top: 39px;
}

.partner .wrapperPartner img:nth-child(4) {
    margin-top: 21px;
}

/*--------------------footer------------------------*/